@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.formContainer {
  // background-color: #cad6fe;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1990%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1991)'%3e%3c/rect%3e%3cpath d='M 0%2c163 C 192%2c233.4 576%2c529.8 960%2c515 C 1344%2c500.2 1728%2c174.2 1920%2c89L1920 1080L0 1080z' fill='rgba(84%2c 8%2c 106%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c546 C 96%2c620.6 288%2c873.4 480%2c919 C 672%2c964.6 768%2c791.4 960%2c774 C 1152%2c756.6 1248%2c861.4 1440%2c832 C 1632%2c802.6 1824%2c668 1920%2c627L1920 1080L0 1080z' fill='rgba(187%2c 116%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1990'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1991'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.22'%3e%3c/stop%3e%3cstop stop-color='rgba(81%2c 157%2c 255%2c 1)' offset='0.55'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2184%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient2185)'%3e%3c/rect%3e%3cpath d='M690.49%2c779.486C805.489%2c782.183%2c924.87%2c747.464%2c985.024%2c649.415C1047.574%2c547.461%2c1036.323%2c417.809%2c975.614%2c314.749C915.849%2c213.29%2c808.242%2c148.896%2c690.49%2c149.409C573.606%2c149.918%2c466.584%2c215.14%2c409.638%2c317.215C354.104%2c416.76%2c359.768%2c538.719%2c418.954%2c636.137C475.913%2c729.889%2c580.821%2c776.914%2c690.49%2c779.486' fill='rgba(45%2c 33%2c 185%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M626.534%2c667.694C690.73%2c668.355%2c725.497%2c600.292%2c757.465%2c544.619C789.237%2c489.287%2c826.657%2c427.091%2c797.188%2c370.499C766.274%2c311.131%2c693.254%2c287.816%2c626.534%2c293.176C568.113%2c297.869%2c524.106%2c342.311%2c497.569%2c394.568C473.722%2c441.529%2c477.707%2c494.341%2c500.195%2c541.968C527.384%2c599.55%2c562.859%2c667.038%2c626.534%2c667.694' fill='rgba(45%2c 33%2c 185%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M498.662%2c1196.687C561.953%2c1195.05%2c609.475%2c1146.943%2c642.181%2c1092.733C676.338%2c1036.119%2c705.364%2c966.876%2c671.617%2c910.017C638.289%2c853.865%2c563.941%2c849.362%2c498.662%2c850.926C436.975%2c852.404%2c372.347%2c865.744%2c339.494%2c917.976C304.773%2c973.179%2c309.345%2c1043.872%2c341.686%2c1100.503C374.304%2c1157.618%2c432.911%2c1198.387%2c498.662%2c1196.687' fill='rgba(45%2c 33%2c 185%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1785.949%2c452.859C1893.575%2c457.831%2c1999.661%2c409.178%2c2055.07%2c316.777C2111.977%2c221.878%2c2111.334%2c101.259%2c2053.279%2c7.057C1997.807%2c-82.955%2c1891.676%2c-120.965%2c1785.949%2c-119.909C1682.305%2c-118.874%2c1577.952%2c-78.352%2c1527.71%2c12.306C1478.711%2c100.721%2c1505.583%2c206.549%2c1556.701%2c293.756C1607.116%2c379.764%2c1686.36%2c448.259%2c1785.949%2c452.859' fill='rgba(45%2c 33%2c 185%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M756.774%2c1295.691C847.73%2c1297.425%2c933.545%2c1251.319%2c979.938%2c1173.064C1027.26%2c1093.243%2c1027.139%2c995.215%2c983.442%2c913.353C936.923%2c826.205%2c855.555%2c753.871%2c756.774%2c754.989C659.461%2c756.091%2c583.018%2c831.682%2c538.823%2c918.387C498.812%2c996.883%2c503.803%2c1088.538%2c547.873%2c1164.829C591.924%2c1241.088%2c668.722%2c1294.013%2c756.774%2c1295.691' fill='rgba(45%2c 33%2c 185%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1192.816%2c550.624C1261.918%2c549.496%2c1320.399%2c507.487%2c1357.543%2c449.206C1398.283%2c385.283%2c1427.053%2c306.358%2c1390.988%2c239.685C1353.632%2c170.624%2c1271.121%2c138.91%2c1192.816%2c144.671C1123.236%2c149.79%2c1073.63%2c204.732%2c1039.441%2c265.549C1006.117%2c324.827%2c986.286%2c394.852%2c1018.506%2c454.738C1052.181%2c517.329%2c1121.75%2c551.784%2c1192.816%2c550.624' fill='rgba(45%2c 33%2c 185%2c 0.2)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1016.159%2c545.938C1088.008%2c548.255%2c1156.832%2c513.923%2c1194.447%2c452.664C1233.866%2c388.467%2c1241.267%2c306.745%2c1202.803%2c241.971C1165.041%2c178.379%2c1090.067%2c155.17%2c1016.159%2c152.423C935.797%2c149.436%2c842.64%2c156.709%2c803.833%2c227.143C765.722%2c296.314%2c812.956%2c376.043%2c856.734%2c441.774C894.449%2c498.401%2c948.157%2c543.745%2c1016.159%2c545.938' fill='rgba(45%2c 33%2c 185%2c 0.2)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M399.071%2c566.083C460.537%2c566.971%2c520.372%2c542.61%2c553.945%2c491.116C590.903%2c434.431%2c602.141%2c362.517%2c570.939%2c302.471C537.378%2c237.886%2c471.856%2c193.214%2c399.071%2c193.078C326.072%2c192.942%2c258.818%2c236.577%2c226.087%2c301.827C196.181%2c361.447%2c215.227%2c430.944%2c251.758%2c486.75C284.497%2c536.763%2c339.301%2c565.22%2c399.071%2c566.083' fill='rgba(45%2c 33%2c 185%2c 0.2)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1725.795%2c90.403C1764.701%2c90.889%2c1807.691%2c83.139%2c1826.576%2c49.12C1845.113%2c15.728%2c1826.581%2c-23.158%2c1807.061%2c-55.985C1788.13%2c-87.821%2c1762.823%2c-119.449%2c1725.795%2c-120.36C1687.568%2c-121.3%2c1656.43%2c-93.269%2c1637.298%2c-60.16C1618.152%2c-27.026%2c1609.896%2c13.662%2c1629.287%2c46.653C1648.47%2c79.29%2c1687.941%2c89.93%2c1725.795%2c90.403' fill='rgba(45%2c 33%2c 185%2c 0.2)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2184'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2185'%3e%3cstop stop-color='rgba(7%2c 15%2c 24%2c 0.94)' offset='0.44'%3e%3c/stop%3e%3cstop stop-color='rgba(50%2c 103%2c 172%2c 1)' offset='0.7'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: rgb(43, 7, 41);
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #a6a3f9;
      font-weight: bold;
      font-size: 24px;

    }

    .title {
      color: #9e5ec3;
      font-size: 20px;
      font-weight: bold;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #a7bcff;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: #b4b1ff;
      font-size: 12px;
      margin-top: 10px;

      a {
        color: #a24aff;
        text-decoration: underline;
      }
    }
  }
}

.home {
  // background-color: #a7bcff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1990%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1991)'%3e%3c/rect%3e%3cpath d='M 0%2c163 C 192%2c233.4 576%2c529.8 960%2c515 C 1344%2c500.2 1728%2c174.2 1920%2c89L1920 1080L0 1080z' fill='rgba(84%2c 8%2c 106%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c546 C 96%2c620.6 288%2c873.4 480%2c919 C 672%2c964.6 768%2c791.4 960%2c774 C 1152%2c756.6 1248%2c861.4 1440%2c832 C 1632%2c802.6 1824%2c668 1920%2c627L1920 1080L0 1080z' fill='rgba(187%2c 116%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1990'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1991'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.22'%3e%3c/stop%3e%3cstop stop-color='rgba(81%2c 157%2c 255%2c 1)' offset='0.55'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    @include tablet {
     width: 90%;
    }

    .sidebar {
      flex: 1;
      background-color: #3e3c61;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        background-color: #2f2d52;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: #ddddf7;

        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;

          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: #5d5b8d;
            color: #ddddf7;
            font-size: 10px;
            border: none;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          padding: 10px;

          input {
            background-color: transparent;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #2f2d52;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            color: lightgray;
          }
        }
      }
    }
    .chat {
      flex: 2;

      .chatInfo {
        height: 50px;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;
      }

      .chatIcons {
        display: flex;
        gap: 10px;

        img {
          height: 24px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: #ddddf7;
        padding: 10px;
        height: calc(100% - 160px);
        overflow: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: white;
              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;
              p {
                background-color: #8da4f1;
                color: white;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 100%;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 18px;

          &::placeholder {
            color: lightgray;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: #8da4f1;
            cursor: pointer;
          }
        }
      }
    }
  }
}
